body {
  color: black;
  background-color: rgb(252, 195, 173);
  font-size: 20px;
}

p {
  padding-left: 30px;
}

h1 {
  background-color: black;
  color: white;
}

nav {
  text-align: center;
  word-spacing: 20px;
  background-color: rgb(255, 215, 240);
}

form {
  background-color: rgb(215, 222, 255);
  padding: 10px;
  text-align: center;
}

header {
  font-size: 30px;
  background-color: pink;
}
