body {
  color: black;
  background-color: rgb(252, 195, 173);
  font-size: 20px;
}

p {
  padding-left: 30px;
}

.index h1 {
  background-color: black;
  color: white;
}

nav {
  text-align: center;
  word-spacing: 20px;
}

.index nav {
  background-color: rgb(255, 215, 240);
}

.about nav {
  background-color: rgb(248, 255, 181);
}

.index form {
  background-color: rgb(215, 222, 255);
  padding: 10px;
  text-align: center;
}

.index header {
  font-size: 30px;
  background-color: pink;
}

details {
  user-select: none;
}

span {
  font-weight: bold;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}
