body {
  color: black;
  font-size: 20px;
  line-height: 2;
}

p {
  padding-left: 30px;
  
}

h1 {
  background-color: black;
  color: white;
}

nav {
  text-align: center;
  word-spacing: 20px;
}

.index nav {
  background-color: rgb(255, 215, 240);
}

.about nav {
  background-color: rgb(248, 255, 181);
}

.products nav {
  background-color: rgb(252, 195, 173);
}

.reports nav {
  background-color: rgb(215, 222, 255);
}

form {
  padding: 10px;
  text-align: center;
  background-color: rgb(194, 253, 202);
}

.index {
  background-color: rgb(248, 255, 181);
}

.about {
  background-color: rgb(255, 215, 240);
}

.products {
  background-color: rgb(215, 222, 255);
}

.reports {
  background-color: rgb(252, 195, 173);
}

header {
  font-size: 30px;
  background-color: pink;
}

details {
  user-select: none;
}

span {
  font-weight: bold;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

#searchbar{
	margin-left: 15%;
	padding:15px;
	border-radius: 10px;
}

input[type=text] {
	width: 30%;
	-webkit-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
		change its width to 100% */
input[type=text]:focus {
	width: 70%;
}

#list{
	font-size: 1em;
	margin-left: 30px;
}

.animals{
	display: list-item;	
}

#p_searchbar{
	margin-left: 15%;
	padding:15px;
	border-radius: 10px;
}

.product{
	display: p_list-item;	
}

#p_list{
	font-size: 1em;
	margin-left: 30px;
}
